data/flows.json
[{"id":"c5e5a1f7a944698b","type":"tab","label":"HTTP -> RabbitMQ interface","disabled":false,"info":"","env":[]},{"id":"a504e1389297f292","type":"amqp-server","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"httpMessages\", \"type\": \"direct\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"test\"},\n\t\t{\"name\": \"test2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"httpMessages\", \"queue\": \"test\", \"pattern\": \"test\"},\n\t\t{\"source\": \"httpMessages\", \"queue\": \"test2\", \"pattern\": \"test2\"}\n\t]\n}"},{"id":"b996a3b0572a7141","type":"http in","z":"c5e5a1f7a944698b","name":"Accept Queue Item","url":"/queue","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["300f7a0ba97499ac"]]},{"id":"cd3c0ee4c1e6a05f","type":"amqp out","z":"c5e5a1f7a944698b","name":"Send message to queue","routingkey":"","iotype":"0","ioname":"httpMessages","server":"a504e1389297f292","x":770,"y":320,"wires":[]},{"id":"300f7a0ba97499ac","type":"change","z":"c5e5a1f7a944698b","name":"Set Queue Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"msg.payload.queue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[["cd3c0ee4c1e6a05f","985f30437f26fba4","2b1ced94b3286c55"]]},{"id":"681a04649ed3e6b1","type":"catch","z":"c5e5a1f7a944698b","name":"Handle errors posting to Queue","scope":["b996a3b0572a7141","cd3c0ee4c1e6a05f","3fb156bfead9d7a2","300f7a0ba97499ac"],"uncaught":false,"x":230,"y":380,"wires":[["fbd477f6fb57251a"]]},{"id":"fbd477f6fb57251a","type":"debug","z":"c5e5a1f7a944698b","name":"Debug errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":380,"wires":[]},{"id":"985f30437f26fba4","type":"debug","z":"c5e5a1f7a944698b","name":"Check message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":220,"wires":[]},{"id":"2b1ced94b3286c55","type":"http response","z":"c5e5a1f7a944698b","name":"Accept Queue Item Response","statusCode":"200","headers":{},"x":830,"y":400,"wires":[]}]