data/flows.json
[{"id":"c5e5a1f7a944698b","type":"tab","label":"HTTP -> RabbitMQ interface","disabled":false,"info":"","env":[]},{"id":"a504e1389297f292","type":"amqp-server","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"httpMessages\", \"type\": \"direct\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"test\"},\n\t\t{\"name\": \"test2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"httpMessages\", \"queue\": \"test\", \"pattern\": \"test\"},\n\t\t{\"source\": \"httpMessages\", \"queue\": \"test2\", \"pattern\": \"test2\"}\n\t]\n}"},{"id":"b996a3b0572a7141","type":"http in","z":"c5e5a1f7a944698b","name":"Accept Queue Item","url":"/queue","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["c7d307d42c7ad723"]]},{"id":"cd3c0ee4c1e6a05f","type":"amqp out","z":"c5e5a1f7a944698b","name":"Send message to queue","routingkey":"","iotype":"0","ioname":"httpMessages","server":"a504e1389297f292","x":1310,"y":120,"wires":[]},{"id":"300f7a0ba97499ac","type":"change","z":"c5e5a1f7a944698b","name":"Set Queue Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"msg.payload.queue","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":180,"wires":[["cd3c0ee4c1e6a05f","2b1ced94b3286c55"]]},{"id":"681a04649ed3e6b1","type":"catch","z":"c5e5a1f7a944698b","name":"Handle errors posting to Queue","scope":["b996a3b0572a7141","cd3c0ee4c1e6a05f","3fb156bfead9d7a2","300f7a0ba97499ac"],"uncaught":false,"x":173,"y":672,"wires":[["fbd477f6fb57251a"]]},{"id":"fbd477f6fb57251a","type":"debug","z":"c5e5a1f7a944698b","name":"Debug errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":413,"y":652,"wires":[]},{"id":"2b1ced94b3286c55","type":"http response","z":"c5e5a1f7a944698b","name":"Accept Queue Item Response","statusCode":"200","headers":{},"x":1330,"y":180,"wires":[]},{"id":"2d49811fc39b0362","type":"amqp in","z":"c5e5a1f7a944698b","name":"Listen to test queue","topic":"","iotype":"4","ioname":"test","server":"a504e1389297f292","x":130,"y":260,"wires":[["82d71d7abb93a919"]]},{"id":"82d71d7abb93a919","type":"debug","z":"c5e5a1f7a944698b","name":"*******Log out queue messages","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"255259aa0f8ff0e9","type":"amqp in","z":"c5e5a1f7a944698b","name":"Listen to test2 queue","topic":"","iotype":"4","ioname":"test2","server":"a504e1389297f292","x":120,"y":320,"wires":[["82d71d7abb93a919"]]},{"id":"2190a3a99ab7e43b","type":"catch","z":"c5e5a1f7a944698b","name":"Handle errors reading from Queue","scope":["2d49811fc39b0362","82d71d7abb93a919","255259aa0f8ff0e9"],"uncaught":false,"x":160,"y":620,"wires":[["fbd477f6fb57251a"]]},{"id":"c7d307d42c7ad723","type":"json-multi-schema-resolver","z":"c5e5a1f7a944698b","name":"","mappingsUrl":"http://localhost:1880/schemas/message-types.jsonata.json?v2","x":380,"y":180,"wires":[["158859cb02a0cc14"]]},{"id":"158859cb02a0cc14","type":"json-multi-schema-validator","z":"c5e5a1f7a944698b","name":"","x":660,"y":180,"wires":[["7c6df362ce3ce5bf"]]},{"id":"4b32fbd5dc429339","type":"http in","z":"c5e5a1f7a944698b","name":"","url":"/schemas/:schema","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["dae01e46519eef1c"]]},{"id":"dae01e46519eef1c","type":"switch","z":"c5e5a1f7a944698b","name":"","property":"req.params.schema","propertyType":"msg","rules":[{"t":"eq","v":"message-types.jsonata.json","vt":"str"},{"t":"eq","v":"test.schema.json","vt":"str"},{"t":"eq","v":"test2.schema.json","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":330,"y":400,"wires":[["d3fef7031adb67df"],["902531218176f897"],["402022bb19d41d01"],["ed9ffdf03e5432d9","8687f9c1f6536f70"]]},{"id":"d3fef7031adb67df","type":"template","z":"c5e5a1f7a944698b","name":"message-types.jsonata.json","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"[\n    {\n        \"query\": \"queue\",\n        \"cases\": {\n            \"test\": \"http://localhost:1880/schemas/test.schema.json\",\n            \"test2\": \"http://localhost:1880/schemas/test2.schema.json\"\n        }\n    }\n]","output":"json","x":560,"y":380,"wires":[["c0c243c8abdaf95d"]]},{"id":"c0c243c8abdaf95d","type":"http response","z":"c5e5a1f7a944698b","name":"JSON response","statusCode":"200","headers":{"content-type":"application/json"},"x":840,"y":420,"wires":[]},{"id":"902531218176f897","type":"template","z":"c5e5a1f7a944698b","name":"test.schema.json","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n    \"$id\": \"http://localhost:1880/schemas/test.schema.json\",\n  \"title\": \"test\",\n  \"description\": \"A message for the test queue\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"queue\": {\n      \"const\": \"test\"\n    },\n    \"message\": {\n      \"description\": \"The message for the queue\",\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [ \"queue\", \"message\" ],\n  \"additionalProperties\": false\n}","output":"json","x":530,"y":420,"wires":[["c0c243c8abdaf95d"]]},{"id":"402022bb19d41d01","type":"template","z":"c5e5a1f7a944698b","name":"test2.schema.json","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n      \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"$id\": \"http://localhost:1880/schemas/test2.schema.json\",\n  \"title\": \"test2\",\n  \"description\": \"A message for the test queue\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"queue\": {\n      \"const\": \"test2\"\n    },\n    \"message\": {\n      \"description\": \"The message for the queue\",\n      \"type\": \"string\"\n    },\n    \"version\": {\n      \"description\": \"The version of the message\",\n      \"type\": \"integer\"\n    }\n  },\n  \"required\": [ \"queue\", \"message\" ],\n  \"additionalProperties\": false\n}","output":"json","x":530,"y":460,"wires":[["c0c243c8abdaf95d"]]},{"id":"7c6df362ce3ce5bf","type":"switch","z":"c5e5a1f7a944698b","name":"Is Valid","property":"error","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":860,"y":180,"wires":[["300f7a0ba97499ac"],["2674bf838791de54","92cf46c786d97898"]]},{"id":"3188f9d04f92b717","type":"http response","z":"c5e5a1f7a944698b","name":"Reject Queue Item Response","statusCode":"400","headers":{},"x":1360,"y":240,"wires":[]},{"id":"2674bf838791de54","type":"change","z":"c5e5a1f7a944698b","name":"Extract error from validation","rules":[{"t":"set","p":"payload","pt":"msg","to":"error","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["3188f9d04f92b717"]]},{"id":"92cf46c786d97898","type":"debug","z":"c5e5a1f7a944698b","name":"Log out validation errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"ed9ffdf03e5432d9","type":"http response","z":"c5e5a1f7a944698b","name":"404 response","statusCode":"404","headers":{},"x":520,"y":500,"wires":[]},{"id":"8687f9c1f6536f70","type":"debug","z":"c5e5a1f7a944698b","name":"404 web request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":540,"wires":[]}]